@model ListaDeCompras.Models.Producto

@{
    ViewData["Title"] = "Detalles del Producto";
}

<h1 class="text-light">Detalles del Producto</h1>
<hr class="border-secondary" />

<div class="border rounded p-4 bg-dark text-light">
    <dl class="row">
        <dt class="col-sm-3">Nombre:</dt>
        <dd class="col-sm-9">@Model.Nombre</dd>

        <dt class="col-sm-3">Descripción:</dt>
        <dd class="col-sm-9">@Model.Descripcion</dd>

        <dt class="col-sm-3">Fecha de Creación:</dt>
        <dd class="col-sm-9">@Model.FechaCreacion.ToString("f", new System.Globalization.CultureInfo("es-CR"))</dd>

        <dt class="col-sm-3">Creado por:</dt>
        <dd class="col-sm-9">@Model.Usuario?.UserName</dd>
    </dl>

</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>
