@model IEnumerable<ListaDeCompras.Models.Producto>

@{
    ViewData["Title"] = "Lista de Productos";
}

<h1 class="text-light">Productos</h1>

<p>
    @if (User.Identity?.IsAuthenticated == true)
    {
        <a class="btn btn-success" asp-action="Create">Crear nuevo producto</a>
    }
</p>


<table class="table table-dark table-striped table-hover mt-3">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Fecha de Creación</th>
            <th>Creado por</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td>@item.FechaCreacion.ToString("f", new System.Globalization.CultureInfo("es-CR"))</td>
                <td>@item.Usuario?.UserName</td>
                <td>
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Detalles</a>

                    @if (User.Identity?.IsAuthenticated == true && User.Identity.Name == item.Usuario?.UserName)
                    {
                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
